.gpt_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  background: #031b34;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.gpt_footer_heading {
  margin: 6rem 4rem;
  width: 70%;
}
.gpt_footer_heading h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  /* or 121% */
  text-align: center;
}
.gpt_footer_heading div {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.gpt_footer_heading button {
  border: 1px solid #ffffff;
  /* font-family: 'Gilroy-Medium'; */
  font-size: 18px;
  line-height: 21px;
  padding: 20px;
  background: #031b34;
  color: #ffffff;
  cursor: pointer;
}
.gpt_footer_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* line-height: 14px; */

  justify-content: center;
  /* align-items: center; */
}
.content img {
  width: 50px;
  background: #ffffff;
  border-radius: 5px;
}
.content  {
  color: #ffffff;
}
.content h4{
    font-size: 14px;
    margin-bottom: 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  margin: 2rem;
  gap: 1.4rem;
}

.gpt_footer_content{
    /* width: 90%; */
    gap: 5rem;
}
.content a{
    font-size: 12px;
}
.copyright{
    color: #ffffff;
    margin-top: 3rem;
    margin-bottom: 2rem;
    line-height: 14px;
    height: 15px;

}
/* .copyright h6{
    line-height: 14px;

} */

@media (screen) {
    
}
