.gpt3__navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 0rem;
width: 100%;
border-radius: 5px;
}

.gpt3__navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex-direction: row; */
}

.gpt3__logo{
    margin-right: 2rem;
    cursor: pointer;
}

.gpt3__logo img{
height: 50px;
}
.gpt3__logo svg{
    color: #fff;
}

.gpt3__navbar-links_container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* color: azure; */
    /* font-weight: bold; */
    font-family: var(--font--family);
}
.gpt3__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.gpt3__navbar-links_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
    font-family: var(--font--family);

}
.gpt3__navbar-sign button,
.gpt3__navbar-menu_container button{
    padding: 0.5rem 1rem;
    font-size: 14px;
    line-height: 18px;
    color: white;
    font-family: var(--font--family);
    background: orange;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}

.gpt3__navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
}
.gpt3__navbar-menu svg {
    cursor: pointer;
}

.gpt3__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column ;
    text-align: end;
    background-color: var(--color--footer);
    background-color:rgba(3, 169, 244, 1);
    /* background-color:rgba(63, 81, 181, 1); */
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: blue;
}
.gpt3__navbar-menu_container p {
    margin: 1rem 0;
}

.gpt3__navbar-menu_container-links-sign {
    display: none;
}


@media (max-width: 1050px) {
    .gpt3__navbar-links_container{
        display: none;
    }
    .gpt3__navbar-menu{
        display: flex;
    }
}
@media (max-width: 700px) {
    .gpt3__navbar{
        padding: 2rem 0rem;
    }
    
}
@media (max-width: 550px) {
    .gpt3__navbar{
        /* padding: 1rem 1rem; */
    }
    .gpt3__navbar-sign{
        display: none;
    }
    .gpt3__navbar-menu_container{
        top: 20px;
    }
    .gpt3__navbar-menu_container-links-sign{
        display: block;
    }
}