.gtp_possibility{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 1rem; */

}
.gpt_image{

    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem;
    /* padding: 5rem; */

/* width: 500.31px;
height: 402.05px; */

}
.gpt_image img{
    width: 100%;
    height: auto;
    border: 25px solid white;
    border-radius: 50px;
}
.gpt_possibility_container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 2rem;
    /* position: relative; */
    /* bottom:33px; */
/* line-height: 24px;
max-width: 40%; */
/* position: absolute; */
/* margin-top: 40%; */

}
.gpt_possibility_container h1{
    /* width: 426px;
    height: 90px; */
    margin-top: 1rem;
    margin-bottom: 1rem;
   
    
    /* font-family: 'Manrope'; */
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;

}
.gpt_possibility_container h4{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #71E5FF;

}
.gpt_possibility_container p{
    color: #81AFDD;
}
.gpt_possibility_container h4:last-child{
    color: #FF8A71;

}

    @media (max-width: 1050px) {
        .gtp_possibility{

            flex-direction: column;
        }
        .gpt_image{
            margin: 1rem 0;
        }
        .gpt_possibility_container{
            /* align-items: center; */
            margin: 0rem .2rem;
            gap: 1rem;

            /* justify-content: center; */
            /* align-items: center; */
        }
    }
    @media (max-width: 550px) {
        .gpt_image img{
            border: 15px solid white;
            border-radius: 30px;
        }
    }